In [2]:
import os
import sys
from pathlib import Path

from IPython.display import display, HTML, Markdown
import numpy as np
import pandas as pd

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

# Project level imports
from larval_gonad_ovary.notebook import Nb
from larval_gonad_ovary.plotting import make_figs
from larval_gonad_ovary.config import memory

In [3]:
# Setup notebook
nbconfig = Nb.setup_notebook(seurat_dir='../output/scrnaseq-wf/scrnaseq_combine_force')

last updated: 2018-08-23
Git hash: eb7e3486aa1ed6cc3c23658afd54dacdb200f517

In [4]:
raw = pd.read_parquet('../output/scrnaseq-wf/raw.parquet')

In [6]:
clusters = pd.read_parquet('../output/scrnaseq-wf/clusters.res.0.4.parquet')

In [11]:
raw_agg = raw.T.join(clusters).groupby('cluster').sum().T

In [12]:
raw_agg.head()

cluster          0      1      2      3     4      5      6      7    8    9
FBgn0031081     72     24     25     49     5      8     11     13    0    0
FBgn0053217    722    195    298    455    31    157    117     78    2    1
FBgn0052350    266     83    131    128     7     80     30     29    0    1
FBgn0024733  98060  25432  39446  57174  3662  18388  16336  11660  322  244
FBgn0040372   1260    349    628    747    53    332    178    135    3    3

In [15]:
unique = raw_agg[(raw_agg == 0).sum(axis=1) == 9]

In [20]:
unique = unique.reindex(unique.max(axis=1).sort_values(ascending=False).index)

In [24]:
unique = unique.assign(gene_symbol=[nbconfig.fbgn2symbol[x] for x in unique.index]).set_index('gene_symbol', append=True)

In [26]:
unique.to_csv('../output/ovary_germcell_unique_genes.tsv', sep='\t')